.home-view{

    display:grid;
    grid-template-columns: 40px 50% 50% 10px;
    grid-template-rows: 100px 100% 50px;
}

.strip{

    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #228B22;
    padding:40px;
    
}

.flex-container-header{

    grid-column-start: 1;
    grid-column-end: 8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-content-container{
    
    grid-column-start: 2;
    grid-column-end: 8;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;    
  
}

.home-image{

    border-radius: 10px;
    max-width: 550px;
}

.footer-container{

    grid-column-start: 1;
    grid-column-end: 8;
    display: flex;
    align-items: center;

}
.footer-text{

    color:floralwhite;
    font-family: cursive;
}
